@font-face {
    font-family: 'Onest';
    src: url('/src/assets/fonts/onest/Onest-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/onest/Onest-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit';
    src: local('Halvar Breitschrift Regular'), local('HalvarBreit-Rg'),
    url('/src/assets/fonts/halvar-breitschrift/HalvarBreit-Rg.woff2') format('woff2'),
    url('/src/assets/fonts/halvar-breitschrift/HalvarBreit-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit';
    src: local('Halvar Breitschrift Medium'), local('HalvarBreit-Md'),
    url('/src/assets/fonts/halvar-breitschrift/HalvarBreit-Md.woff2') format('woff2'),
    url('/src/assets/fonts/halvar-breitschrift/HalvarBreit-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.fontHalvarBreit {
    font-family: 'Halvar Breit';
}

body {
    font-family: 'Onest';
    font-size: var(--main-fonts-16-14);
    color: var(--color-dark-blue);
    background-color: var(--color-wave-ocean);
}


a {
    color: var(--color-dark-blue);
    transition: color 300ms;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: var(--main-fonts-48-32);
}

h2 {
    font-size: var(--main-fonts-24-16);
}

h3 {
    font-size: var(--main-fonts-20-16);
}

.page-section {
    margin-top: 3.125rem;
}

.main-image-styles {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.surface {
    background-color: var(--color-m-grey);
    box-shadow: 0 0 0.7rem 0.1rem var(--color-border-default);
}

.custom-scrollbar {
    overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--color-border-default);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}




.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1120px) {
    .grid-container{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 992px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .main-image-styles{
        border-radius: 0.5rem;
    }
    .surface {
        /*box-shadow: 0 4px 10px rgba(0,0,0,0.05);*/
        box-shadow: none;
    }
}