:root {
    --main-fonts-48-32: 48px;
    --main-fonts-24-16: 24px;
    --main-fonts-22-18: 22px;
    --main-fonts-20-16: 20px;
    --main-fonts-18-16: 18px;
    --main-fonts-16-14: 16px;
    --main-fonts-14-12: 14px;
    --main-fonts-12-10: 12px;

    --color-wave-ocean: #f2f2f2;
    --color-grey: #1E293B;
    --color-m-grey:#e5e5e5b3;
    --color-light-gray: #F8FAFC;
    --color-blue: #2563EB;
    --color-bright-blue: #3B82F6;
    --color-light-blue: #38BDF8;
    --color-dark-blue: #0F172A;
    --color-neon-blue: #7DD3FC;
    --color-pink: #EC4899;
    --color-orange: #F97316;
    --color-border-default: #9b9fa5;
    --color-accent: #783e1e;
}

@media (max-width: 1440px) {
    :root {
        --main-fonts-48-32: calc(32px + 16 * (100vw / 1440));
        --main-fonts-24-16: calc(16px + 8 * (100vw / 1440));
        --main-fonts-22-18: calc(18px + 4 * (100vw / 1440));
        --main-fonts-20-16: calc(16px + 4 * (100vw / 1440));
        --main-fonts-18-16: calc(16px + 2 * (100vw / 1440));
        --main-fonts-16-14: calc(14px + 2 * (100vw / 1440));
        --main-fonts-14-12: calc(12px + 2 * (100vw / 1440));
        --main-fonts-12-10: calc(10px + 2 * (100vw / 1440));
    }
}

@media (max-width: 992px) {
    :root {
        --main-fonts-48-32: calc(32px + (16 + 16 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-24-16: calc(16px + (8 + 8 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-22-18: calc(18px + (4 + 4 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-20-16: calc(16px + (4 + 4 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-18-16: calc(16px + (2 + 2 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-16-14: calc(14px + (2 + 2 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-14-12: calc(12px + (2 + 2 * 0.7) * ((100vw - 360px) / 1440));
        --main-fonts-12-10: calc(10px + (2 + 2 * 0.7) * ((100vw - 360px) / 1440));

        --main-line-height-28-20: 1.25rem;
    }

}

